
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slide = (List<Model.EF.Slide>)ViewBag.Slides;
    var productCategory = (List<Model.EF.ProductCategory>)ViewBag.ProductCategory;
    var listNewProduct = (List<Model.EF.Product>)ViewBag.newProduct;
    var listFeatureProduct = (List<Model.EF.Product>)ViewBag.featureProduct;
    var about = (List<Model.EF.About>)ViewBag.About;
}
@section slide{

    <div class="bnr" id="home">
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider4">
                @foreach (var item in slide)
                {
                    <li>
                        <a href="@item.Link"><img src="@item.Image" alt="" /></a>
                    </li>
                }


            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
}
@section about{
    <div class="about">
        <div class="container">
            <div class="about-top grid-1">
                @foreach (var item in about)
                {

                    <div class="col-md-4 about-left">
                        <figure class="effect-bubba">
                            <img class="img-responsive" src="@item.Image" alt="" />
                            <figcaption>
                                <h2>@item.Name</h2>
                                <p>@item.Description</p>
                            </figcaption>
                        </figure>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}
@section productCategory{
    <div class="header-bottom">
        <div class="container">
            <div class="header">
                <div class="col-md-6 header-left">
                    <div class="top-nav" @*style="color:white;background-color:black;line-height:30px;"*@>
                        <ul class="memenu skyblue">
                            @foreach (var item in productCategory)
                            {
                                    <li class="grid">
                                        <a href="/san-pham/@item.MetaTitle-@item.ID" style=" padding-left:20px;@*border-right:1px solid #ddd;*@">@item.Name</a>
                                    </li>

                            }


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="product">
    <div class="container">
        <div class="product-top">
            <div class="product-one">
                <h2 class="product-left" style="font-style: unset;">Sản phẩm mới</h2>
                <br />
                @foreach (var item in listNewProduct)
                {
                    var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                    <div class="col-md-3 product-left">
                        <div class="product-main simpleCart_shelfItem">
                            <a href="@url" class="mask"><img class="img-responsive zoom-img" src="@item.Image" alt="@item.Name" /></a>
                            <div class="product-bottom">
                                <h3>@item.Name</h3>
                                @*<p>Explore Now</p>*@
                                <h4>
                                    <a class="item_add" href="/them-gio-hang?productId=@item.ID&quantity=1"><i></i></a>
                                    <span class=" item_price">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên Hệ")</span>
                                </h4>
                            </div>
                            @*<div class="srch">
                                    <span>-50%</span>
                                </div>*@
                        </div>
                    </div>
                }


                <div class="clearfix"></div>
            </div>
            <br />
            <br />

            <h2 class="product-left">Sản phẩm hot</h2>
            <div class="product-one">
                @foreach (var item in listFeatureProduct)
                {
                    var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                    <div class="col-md-3 product-left">
                        <div class="product-main simpleCart_shelfItem">
                            <a href="@url" class="mask"><img class="img-responsive zoom-img" src="@item.Image" alt="@item.Name" /></a>
                            <div class="product-bottom">
                                <h3>@item.Name</h3>
                                @*<p>Explore Now</p>*@
                                <h4>
                                    <a class="item_add" href="/them-gio-hang?productId=@item.ID&quantity=1"><i></i></a>
                                    <span class=" item_price">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên Hệ")</span>
                                </h4>
                            </div>
                            @*<div class="srch">
                                    <span>-50%</span>
                                </div>*@
                        </div>
                    </div>
                }


                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

