@model Model.EF.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.EF.ProductCategory)ViewBag.Category;
    var relatedProduct = (List<Model.EF.Product>)ViewBag.RelateProduct;
    var productCategory = (List<Model.EF.ProductCategory>)ViewBag.ProductCategory;
    var content = (List<Model.EF.Content>)ViewBag.Content;
}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active"><a href="/san-pham/@category.MetaTitle-@category.ID">@category.Name</a></li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--start-single-->
<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="col-md-8 single-main-left">
                <div class="sngl-top">
                    <div class="col-md-4 single-top-left">
                        <div class="flexslider">
                            <div style="float: left; display: block; width: 304px;" class="thumb-image">
                                <img src="@Model.Image" class="img-responsive" alt="" style="width:50%;">
                            </div>
                        </div>
                        <link rel="stylesheet" href="/Asset/client/css/flexslider.css" type="text/css" media="screen" />


                    </div>
                    <div class="col-md-8 single-top-right">
                        <div class="single-para simpleCart_shelfItem">
                            <h2>@Model.Name</h2>


                            <h5 class="item_price">@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên Hệ") VNĐ</h5>
                            <p>@Model.Description</p>


                            <a href="/them-gio-hang?productId=@Model.ID&quantity=1" class="add-cart item_add">Thêm vào giỏ hàng</a>

                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="tabs">
                    <ul class="menu_drop">
                        <li class="item1">

                            <a href="#">Chi tiết</a>
                            <ul>

                                <li class="subitem3">
                                    <a href="#">@Html.Raw(Model.Detail)</a>
                                </li>
                            </ul>
                        </li>
                        <div class="fb-comments" data-href="http://localhost:49177/chi-tiet/@Model.MetaTitle-@Model.ID" data-numposts="5"></div>

                    </ul>
                </div>
                <div class="latestproducts">
                    <div class="product-one">
                        <h3>Sản phẩm liên quan</h3>
                        @foreach (var item in relatedProduct)
                        {
                            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                            <div class="col-md-4 product-left p-left">
                                <div class="product-main simpleCart_shelfItem">
                                    <a href="@url" class="mask"><img class="img-responsive zoom-img" src="@item.Image" alt="" /></a>
                                    <div class="product-bottom">
                                        <h3>@item.Name</h3>
                                        <h4><a class="item_add" href="/them-gio-hang?productId=@item.ID&quantity=1"><i></i></a> <span class=" item_price">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên Hệ")</span></h4>
                                    </div>

                                </div>

                            </div>

                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 single-right">
                <div class="w_sidebar">
                    <section class="sky-form">
                        <div class="col-lg-12">
                            <div class="row">
                                <h4 class="title-box" style="background-color:#6da6b1;">Danh mục sản phẩm</h4>
                                <div class="column">

                                    <ul class="nav nav-pills nav-stacked">
                                        @foreach (var item in productCategory)
                                        {
                                            <li class="even mul">
                                                <a href="/san-pham/@item.MetaTitle-@item.ID">
                                                    <span>@item.Name</span>
                                                </a>
                                            </li>
                                        }

                                    </ul>

                                </div>
                            </div>

                            <div class="row">
                                <h4 class="title-box" style="background-color:#6da6b1;">Điểm tin</h4>
                                <div class="column">
                                    <ul class=" list-unstyled">
                                        @foreach (var item in content)
                                        {
                                            <li class="clearfix" style="border-bottom: 1px solid #eee8e8; padding:3px 0px;">
                                                <div style="float: left; margin-right:10px;">
                                                    <a href="/tin-tuc/@item.MetaTitle-@item.ID">
                                                        <img title="Tạo không gian làm việc hiệu quả với 5 bước đơn giản" src="@item.Image" alt="Tạo không gian làm việc hiệu quả với 5 bước đơn giản" class="img-thumbnail" style="width: 70px; height: 80px;" />
                                                    </a>
                                                </div>
                                                <a href="/tin-tuc/@item.MetaTitle-@item.ID">
                                                    @item.Name

                                                </a>
                                                <p style="color:#808080; font-style:italic;">
                                                    <span class="fa fa-calendar"> </span> @item.CreatedDate
                                                </p>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>


                    </section>

                </div>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>

